.news-item {
    padding: 0px;
    padding-top: 13px;
    padding-right: 15px;
    color: #828282;
}

.news-title {
    padding-right: 80px;
    font-weight: 600;
    color: blue;
}

td a {
    color: #000000;
    font-family: 'Roboto', sans-serif;


}

