.navigation-bar {
    background-color: #ff6600
}

.nav-logo {
    color: #fff
}

.link-style {
    color: #fff;
    text-decoration: none
}

.logo {
    background: #ff6600;
    color: #fff;
    border: 2px solid #fff;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
  }

#dropdown-basic {
    color: black;
    border-color: black;
    background-color: transparent;
}
